/*测试*/
header,#top_main,nav,#banner,section,footer{
	border:1px solid #000;
}
/*设置页面通用样式*/
body{
	font:12px "微软雅黑",Arial,Helvetica,sans-serif;
	color:#666;
	margin:0px;
	padding:0px;
}
ul,ol,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{
	margin:0px;
	padding:0px;
	list-style:none;
}
input{
	border:none;
}
img{
	vertical-align:bottom;
}
.lf{float:left;}
.rt{float:right;}
.clear{clear:both;}
a{
	color:#666;
	text-decoration:none;
}
a:hover{
	color:#FF0700;
	text-decoration:underline;
}
